.image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus {
    border: 3px solid rgba(0,0,0,0.35);
}



.julenytt {

    .gallery-container-homePage {
        .image-gallery-image {
            height: 300px;
        }

        .image-gallery-thumbnail {
            width: auto;
        }

        .image-gallery-thumbnail img {
            width: auto;
            height: 50px;
        }        
    }

    .gallery-container-homePage-fullscreen, .gallery-container-photosPage-fullscreen {
        .image-gallery-image {
            height: 80%;
            width: 90vw;
            margin-top: 35px;
            max-width: 90vw;
        }

        .image-gallery-thumbnail img {
            width: auto;
            height: 100px;
        }
        
        .image-gallery-content {
            position: relative;
            line-height: 0;
            top: 50%;
            transform: translate(0%, -50%);
        }
    }

    .gallery-container-photosPage {
        .image-gallery-content .image-gallery-slide .image-gallery-image {
            height: 80%;
            margin-top: 10px;
        }    

        .image-gallery-thumbnail {
            width: auto;
        }

        .image-gallery-thumbnail img {
            width: auto;
            height: 70px;
        }      
    }

}

.image-gallery-description {
    bottom: 25px !important;
    left: 50% !important;
    transform: translate(-50%, 50%) !important;
}




.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
    height: 60px;
}

.image-gallery-fullscreen-button > .image-gallery-svg, .image-gallery-play-button > .image-gallery-svg {
        height: 20px;
        width: 20px;
}